@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	color: #c8c8c8;
}

body {
	overflow: hidden;
	background: #1a1a1a;
}

.sidebar {
	width: 0;
	min-height: 100vh;
	height: auto;
	background: black;
	position: absolute;
	display: block;
	transition: 500ms;
	color: white;
	overflow-y: scroll;
}

.sidebar button {
	width: auto;
    padding: 10px 0;
    justify-content: center;
    border: none;
}

.sidebar > p {
	display: none;
    cursor: pointer;
}

.sidebar > div {
	display: none;
}

.search-container {
    grid-template-columns: 80% 20%;
    grid-gap: 20px;
    width: 80%;
    margin: 20px auto;
}

.search-container input {
    border: none;
    padding: 5px;
	color: black;
}

.search-container button {
    width: fit-content;
    padding: 10px 25px;
}

.char-box {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 100vh;
    scroll-behavior: auto;
	justify-content: center;
	justify-items: center;
	grid-gap: 2em;
}

.perk-box {
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	grid-gap: 2em;
}

.item {
	width: 200px;
	display: flex;
	flex-direction: column;
	transition: 500ms;
}

.item:last-child {
	padding-bottom: 10em;
}

.item * {
    margin-bottom: 10px;
}

.item *:last-child {
    margin: 0;
}

.item img {
	width: 200px;
}

.char-holder {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.perk-holder {
	grid-template-columns: repeat(4, auto);
	display: grid;
	align-items: center;
	justify-content: center;
	gap: clamp(1em, 5vw, 10em);
    height: 150px;
    margin-top: 5em;
}

.perk {
	display: flex;
}

img {
	width: 150px;
}

#image:hover ~ .popout {
	display: block;
}

.perk #header {

}

button {
	display: flex;
	align-items: center;
	width: 545px;
	appearance: none;
	border: none;
	border: 2px solid #040506;
	background: #101418;
	color: white;
	cursor: pointer;
}

button:hover {
	background: #0c0f13;
}

button img {
	width: 120px;
}

button p {
	font-size: large;
	text-transform: uppercase;
	width: 100%;

}

.perk #name {
	font-size: 27px;
	letter-spacing: 1px;
}

.perk #killer {
	font-weight: lighter;
	font-size: unset;
}

.perk .popout {
	display: none;
	position: absolute;
	margin-left: 100px;
	background: black;
	color: white;
	font-family: 'Arial';
	padding: 13px;
	min-width: 525px;
	box-shadow: 0px 0px 8px 8px rgb(0, 0, 0);
	opacity: 0.95;
}

header {
	display: flex;
	justify-content: space-between;
}

.header-item {
	display: flex;
	align-items: center;
	border: 2px solid #040506;
	border-top: none;
	background: #101418;
	user-select: none;
	cursor: pointer;
}

.header-item:hover {
	background: #0c0f13;
}

#left {
	border-left: none;
}

#right {
	border-right: none;
}

.header-item img {
	width: 128px;
}

.header-item p {
	text-transform: uppercase;
	color: white;
	margin: 20px;
}

.bottom {
	position: absolute;
	bottom: 0;
	transition: 500ms;
	height: auto;
	width: 25em;
	background-color: #212a33;
	border: 2px solid #040506;
	border-bottom: none;
	user-select: none;
}

.bottom span {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	cursor: pointer;
	background-color: #101418;
}

.bottom .setting {
	margin: 10px;
}

.bottom .setting button {
	width: 100%;
	height: 40px;
	font-size: inherit;
}

.bottom span:hover {
	background: #0c0f13;
}

.bottom p {
	font-size: 25px;
	align-self: center;
}

.bottom img {
	width: 40px;
	transition: 500ms;
}

.bottom main {
	display: none;
}